/* Variables */
$orange: #FF6F61;

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    border-radius: 10px;
}

.icons {
    height: 3vh;
}

.star {
        display: inline;
        width: 2vw;
    }

header ul {
    width: 94vw;
    display: flex;
    justify-content: space-between;
}
main {
    width: 94vw;
    .container {
        display: flex;
        justify-content: space-between;
        .banane {
            width: 58%;
            img {
                width: 100%;
            }
            .auteur {
                width: 3vw;
            }
        }
        .div-droite {
            width: 40%;
            .petite-div {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .thumbnail {
                    width: 100%;
                }
                .petite-div-d {
                    width: 50%;
                    .auteur {
                        width: 3vw;
                    }
                }
            }
        }
        .recette {
            width: 32%;
            .plat {
                width: 100%;
            }
            .favoris {
                width: 3vw;
                height: 3vw;
                padding: 0.5vw;
                background-color: white;
                border: 1px solid $orange;
                border-radius: 50%;
                position: relative;
                top: -40vh;
                right: -25vw;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                .like {
                    width: 2.3vw;
                }
            }
            .play {
                width: 4vw;
                position: relative;
                top: -27vh;
                right: -13vw;
                z-index: 1;
            }
            h3 {
                position: relative;
                top: -23vh;
                right: -1vw;
                z-index: 1;
                color: white;
            }  
        }
    }
    .bandeau-actus {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .container-actus {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .actu {
            width: 49%;
        }
    }
}